In [3]:
import pandas as pd

In [5]:
series= pd.Series([5,2,9,22],index=['a','b','c','d'])
print(series)

a     5
b     2
c     9
d    22
dtype: int64

In [6]:
df= pd.read_csv("C:\\Users\\hp\\Desktop\\top_1000_popular_movies_tmdb.csv", engine = "python")

In [7]:
df.head()

,Unnamed: 0,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,0,385687,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,7.4,1347.0,8363.473,Over many missions and against impossible odds...,340000000.0,"['Universal Pictures', 'Original Film', 'One R...",6.520000e+08,142.0,The end of the road begins.
1,1,603692,John Wick: Chapter 4,2023-03-22,"['Action', 'Thriller', 'Crime']",English,7.9,2896.0,4210.313,"With the price on his head ever increasing, Jo...",90000000.0,"['Thunder Road', '87Eleven', 'Summit Entertain...",4.317692e+08,170.0,"No way back, one way out."
2,2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Family', 'Adventure', 'Fantasy'...",English,7.8,4628.0,3394.458,"While working underground to fix a water main,...",100000000.0,"['Universal Pictures', 'Illumination', 'Ninten...",1.308767e+09,92.0,NaN
3,3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"['Action', 'Adventure', 'Animation', 'Science ...",English,8.8,1160.0,2859.047,"After reuniting with Gwen Stacy, Brooklyn’s fu...",100000000.0,"['Columbia Pictures', 'Sony Pictures Animation...",3.135222e+08,140.0,It's how you wear the mask that matters
4,4,536437,Hypnotic,2023-05-11,"['Mystery', 'Thriller', 'Science Fiction']",English,6.5,154.0,2654.854,A detective becomes entangled in a mystery inv...,70000000.0,"['Studio 8', 'Solstice Productions', 'Ingeniou...",0.000000e+00,94.0,Control is an illusion.

In [16]:
df.tail() #returns last 5 rows from the dataframe.

,Unnamed: 0,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
9996,9995,33142,Vivah,2006-11-10,"['Romance', 'Drama']",Hindi,6.4,70.0,12.301,"Poonam, a traditionally brought-up young woman...",0.0,['Rajshri Productions'],4000000.0,175.0,Marriage isn't a game...
9997,9996,9442,Dead Men Don't Wear Plaid,1982-05-21,"['Comedy', 'Mystery']",English,6.6,324.0,12.301,Juliet Forrest is convinced that the reported ...,9000000.0,"['Universal Pictures', 'Aspen Film Society']",18196170.0,89.0,Laugh...or I’ll blow your lips off!
9998,9997,28774,Communion,1989-11-10,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",English,5.3,147.0,12.300,A novelist's wife and son see him changed by a...,5000000.0,"['The Picture Property Company', 'Allied Visio...",1919653.0,103.0,The true story of one man's terrifying journey...
9999,9998,11121,Tess,1979-10-06,"['Drama', 'Romance']",English,7.0,283.0,12.300,A strong-willed peasant girl is sent by her fa...,12000000.0,"['Renn Productions', 'Timothy Burrill Producti...",20101247.0,186.0,She was born into a world where they called it...
10000,9999,272692,The Possession of Michael King,2014-08-14,['Horror'],English,6.1,346.0,12.297,The film tells the story of documentary filmma...,0.0,"['Quickfire Films', 'Gold Circle Films']",2405143.0,83.0,"If you invite it in, it will never let you go."

In [17]:
df.isnull().sum()
#used to find missing values

Unnamed: 0                 0
id                         0
title                      0
release_date              23
genres                     0
original_language          1
vote_average               1
vote_count                 1
popularity                 1
overview                  77
budget                     2
production_companies       2
revenue                    2
runtime                    2
tagline                 2618
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10001 non-null  object
 1   id                    10001 non-null  int64
 2   title                 10001 non-null  object
 3   release_date          9978 non-null   object
 4   genres                10001 non-null  object
 5   original_language     10000 non-null  object
 6   vote_average          10000 non-null  float64
 7   vote_count            10000 non-null  float64
 8   popularity            10000 non-null  float64
 9   overview              9924 non-null   object
 10  budget                9999 non-null   float64
 11  production_companies  9999 non-null   object
 12  revenue               9999 non-null   float64
 13  runtime               9999 non-null   float64
 14  tagline               7383 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 1.1+ MB

In [19]:
df.describe()
#used to obtain basic statistical summary of the numerical data.

,id,vote_average,vote_count,popularity,budget,revenue,runtime
count,1.000100e+04,10000.000000,10000.000000,10000.000000,9.999000e+03,9.999000e+03,9999.000000
mean,3.001465e+05,6.319090,1558.294800,33.542340,1.993800e+07,6.084337e+07,100.809581
std,3.379901e+05,1.460605,2887.861217,126.495621,3.870582e+07,1.553073e+08,27.850165
min,0.000000e+00,0.000000,0.000000,12.297000,0.000000e+00,0.000000e+00,0.000000
25%,1.150400e+04,5.900000,143.000000,14.599000,0.000000e+00,0.000000e+00,90.000000
50%,1.184060e+05,6.600000,519.000000,18.582500,1.250000e+06,2.133452e+06,100.000000
75%,5.379150e+05,7.100000,1584.000000,28.014500,2.300000e+07,5.106230e+07,115.000000
max,1.136631e+06,10.000000,33822.000000,8363.473000,4.600000e+08,2.923706e+09,366.000000

In [21]:
df.describe(include = 'all') 
#with parameters include all it will show summary

,Unnamed: 0,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
count,10001,1.000100e+04,10001,9978,10001,10000,10000.000000,10000.000000,10000.000000,9924,9.999000e+03,9999,9.999000e+03,9999.000000,7383
unique,10001,NaN,9654,5996,2280,52,NaN,NaN,NaN,9920,NaN,8035,NaN,NaN,7328
top,0,NaN,The Little Mermaid,2023-06-11,['Drama'],English,NaN,NaN,NaN,Nikkatsu Roman Porno,NaN,[],NaN,NaN,Based on a true story.
freq,1,NaN,5,32,582,7304,NaN,NaN,NaN,3,NaN,518,NaN,NaN,6
mean,NaN,3.001465e+05,NaN,NaN,NaN,NaN,6.319090,1558.294800,33.542340,NaN,1.993800e+07,NaN,6.084337e+07,100.809581,NaN
std,NaN,3.379901e+05,NaN,NaN,NaN,NaN,1.460605,2887.861217,126.495621,NaN,3.870582e+07,NaN,1.553073e+08,27.850165,NaN
min,NaN,0.000000e+00,NaN,NaN,NaN,NaN,0.000000,0.000000,12.297000,NaN,0.000000e+00,NaN,0.000000e+00,0.000000,NaN
25%,NaN,1.150400e+04,NaN,NaN,NaN,NaN,5.900000,143.000000,14.599000,NaN,0.000000e+00,NaN,0.000000e+00,90.000000,NaN
50%,NaN,1.184060e+05,NaN,NaN,NaN,NaN,6.600000,519.000000,18.582500,NaN,1.250000e+06,NaN,2.133452e+06,100.000000,NaN
75%,NaN,5.379150e+05,NaN,NaN,NaN,NaN,7.100000,1584.000000,28.014500,NaN,2.300000e+07,NaN,5.106230e+07,115.000000,NaN
max,NaN,1.136631e+06,NaN,NaN,NaN,NaN,10.000000,33822.000000,8363.473000,NaN,4.600000e+08,NaN,2.923706e+09,366.000000,NaN

In [26]:
df[df['release_date'].isnull()]

,Unnamed: 0,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
1299,1298,1034541,Terrifier 3,NaN,"['Horror', 'Fantasy', 'Thriller']",English,0.0,0.0,41.450,"In the aftermath of Terrifier 2, the third ins...",0.0,"['Dark Age Cinema', 'Fuzz on the Lens Producti...",0.0,0.0,NaN
1538,1537,421892,Shrek 5,NaN,"['Animation', 'Family', 'Comedy', 'Fantasy']",English,0.0,0.0,37.458,"Plot unknown. A soft-reboot of the animated ""S...",0.0,['DreamWorks Animation'],0.0,0.0,NaN
1594,1593,969681,Spider-Man 4,NaN,['Action'],English,0.0,0.0,36.681,The next installment of the MCU Spider-Man fra...,0.0,"['Marvel Studios', 'Columbia Pictures', 'Pasca...",0.0,0.0,NaN
1643,1642,1108427,Moana,NaN,"['Adventure', 'Comedy', 'Family', 'Fantasy']",English,0.0,0.0,35.976,"In Ancient Polynesia, when a terrible curse in...",0.0,"['Walt Disney Pictures', 'Seven Bucks Producti...",0.0,0.0,NaN
2217,2216,1126217,Fast X: Part 3,NaN,[],English,0.0,0.0,30.089,The twelfth and potentially final installment ...,0.0,[],0.0,0.0,NaN
2705,2704,631969,Kingsman: The Blue Blood,NaN,"['Action', 'Comedy', 'Adventure']",English,0.0,0.0,26.741,The upcoming fourth installment in the Kingsma...,0.0,"['Marv Films', '20th Century Studios']",0.0,0.0,NaN
2738,2737,730629,John Wick: Chapter 5,NaN,"['Action', 'Adventure', 'Crime', 'Thriller']",English,0.0,0.0,26.483,The fifth installment in the John Wick franchi...,0.0,"['Summit Entertainment', 'Thunder Road']",0.0,0.0,NaN
3360,3359,504075,Wolf Warrior 3,NaN,"['Action', 'War']",Chinese,0.0,0.0,23.506,The third movie about a Chinese special force ...,0.0,[],0.0,90.0,NaN
3443,3442,553301,Your Name,NaN,"['Drama', 'Fantasy', 'Romance']",English,0.0,0.0,23.115,Two teenagers discover they are magically and ...,0.0,['Bad Robot'],0.0,0.0,NaN
4171,4170,628861,Baby Driver 2,NaN,"['Action', 'Crime']",English,0.0,0.0,20.583,A sequel to the 2017 film Baby Driver.,0.0,"['Columbia Pictures', 'Sony Pictures', 'Workin...",0.0,0.0,NaN
4951,4950,956421,"Save Me, Spider-Man",NaN,[],English,9.9,9.0,18.698,we all just wanna be famous on the internet.,0.0,[],0.0,2.0,NaN
5616,5615,1084242,Zootopia 2,NaN,"['Animation', 'Comedy', 'Family']",English,0.0,0.0,17.396,Sequel to the 2016 animated film Zootopia. Plo...,0.0,"['Walt Disney Animation Studios', 'Walt Disney...",0.0,0.0,NaN
5715,5714,939345,Transformers: Rise of the Beasts 2,NaN,"['Action', 'Adventure', 'Science Fiction']",English,0.0,0.0,17.233,The first of two planned sequels to the 2023 f...,0.0,"['Entertainment One', 'Skydance']",0.0,0.0,NaN
5813,5812,939347,Transformers: Rise of the Beasts 3,NaN,"['Action', 'Adventure', 'Science Fiction']",English,0.0,0.0,17.060,The second of two planned sequels to the 2023 ...,0.0,"['Entertainment One', 'Skydance']",0.0,0.0,NaN
6872,6871,1135085,Untitled Miles Morales Spider-Man Project,NaN,"['Action', 'Fantasy', 'Adventure']",English,0.0,0.0,15.418,A feature length film that will see the live a...,0.0,"['Pascal Pictures', 'Marvel Entertainment', 'M...",0.0,0.0,NaN
7528,7527,626741,G.I. Joe: Ever Vigilant,NaN,"['Action', 'Adventure', 'Science Fiction']",English,0.0,0.0,14.566,The GI Joe force is reinstated for a confronta...,0.0,"['Paramount', 'di Bonaventura Pictures', 'Ente...",0.0,0.0,NaN
7908,7907,695727,One Punch Man,NaN,"['Action', 'Adventure', 'Fantasy']",English,0.0,0.0,14.184,Live-action feature adaptation of the well-kno...,0.0,"['Arad Productions', 'Columbia Pictures']",0.0,0.0,NaN
7941,7940,347196,Wolf Creek 3,NaN,"['Drama', 'Horror', 'Thriller']",English,0.0,0.0,14.146,An American family takes a dream trip to the A...,0.0,"['Universum International Media Networks', 'GB...",0.0,0.0,There will be blood.
8005,8004,1084244,Toy Story 5,NaN,"['Animation', 'Adventure', 'Family']",English,0.0,0.0,14.082,The next entry in the Toy Story franchise. Plo...,0.0,"['Pixar', 'Walt Disney Pictures']",0.0,0.0,NaN
8364,8363,1074435,Red Bull Dragon Ball FighterZ World Final Paris,NaN,['Documentary'],Portuguese,7.5,2.0,13.697,NaN,0.0,['Red Bull Media House'],0.0,0.0,NaN
8456,8455,574475,Final Destination 6: Bloodlines,NaN,"['Horror', 'Mystery']",English,0.0,0.0,13.616,A young woman named Stefani has a recurring dr...,0.0,['New Line Cinema'],0.0,0.0,here’s a FIRE destination.
9762,9761,391331,El día de los albañiles,NaN,['Comedy'],Spanish,6.1,7.0,12.483,"Just arrived from his village to the capital, ...",0.0,['Frontera Films'],0.0,90.0,NaN

In [25]:
#loc() is usedf to locate the row based on the given labels/ unique identifier
df.loc[df['release_date'].isna() & (df['title']=="Alienoid: Part 2"),'release_date']='2024-01-10'

In [27]:
df.loc[df['release_date'].isna() & (df['title']=="Terrifier 3"),'release_date']='2024-10-11'

In [28]:
df['overview'] = df['overview'].fillna('unknown Overview')

In [29]:
df['tagline'] = df['tagline'].fillna('unknown tagline')

In [30]:
df['production_companies'] = df['production_companies'].fillna('unknown production_companies')

In [35]:
df.isnull().sum()

id                       0
title                    0
release_date            21
genres                   0
original_language        1
vote_average             1
vote_count               1
popularity               1
overview                 0
budget                   2
production_companies     0
revenue                  2
runtime                  2
tagline                  0
dtype: int64

In [32]:
df.shape

(10001, 15)

In [33]:
df.columns

Index(['Unnamed: 0', 'id', 'title', 'release_date', 'genres',
       'original_language', 'vote_average', 'vote_count', 'popularity',
       'overview', 'budget', 'production_companies', 'revenue', 'runtime',
       'tagline'],
      dtype='object')

In [34]:
df.drop(columns = "Unnamed: 0", axis = 1, inplace=True)

In [37]:
df[df['title'].duplicated()]

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
85,10144,The Little Mermaid,1989-11-17,"['Animation', 'Family', 'Fantasy']",English,7.4,7109.0,243.272,This colorful adventure tells the story of an ...,40000000.0,"['Walt Disney Pictures', 'Silver Screen Partne...",2.113435e+08,83.0,Somewhere under the sea and beyond your imagin...
228,385448,The Little Mermaid,2018-08-02,"['Family', 'Adventure', 'Fantasy', 'Romance', ...",English,5.0,801.0,126.760,A young reporter and his niece discover a beau...,0.0,"['Kingsway Productions', 'MVP Studios', 'Congl...",2.614006e+06,98.0,A new twist on the classic tail
402,420818,The Lion King,2019-07-12,"['Adventure', 'Drama', 'Family', 'Animation']",English,7.1,9144.0,85.734,"Simba idolizes his father, King Mufasa, and ta...",260000000.0,"['Walt Disney Pictures', 'Fairview Entertainme...",1.663075e+09,118.0,The King has Returned.
433,726366,Venus,2023-02-17,['Drama'],Spanish,6.0,4.0,82.259,"One night, at the end of the seventies, Venus,...",0.0,"['AMC', 'Belino Productions', 'Claqueta Blanca...",0.000000e+00,97.0,unknown tagline
498,11224,Cinderella,1950-02-22,"['Family', 'Fantasy', 'Animation', 'Romance']",English,7.0,6102.0,75.643,Cinderella has faith her dreams of a better li...,2900000.0,['Walt Disney Productions'],2.635914e+08,74.0,The greatest love story ever told.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9861,101179,Truth or Dare,2012-08-05,"['Horror', 'Thriller', 'Mystery']",English,5.6,316.0,12.411,A group of friends are lured to an isolated ca...,0.0,['Corona Pictures'],0.000000e+00,95.0,You're next.
9969,976293,Lie with Me,2023-02-22,"['Drama', 'Romance']",French,7.8,22.0,12.323,An author returns to his hometown of Cognac fo...,2100000.0,['TS Productions'],0.000000e+00,98.0,unknown tagline
9970,10694,The Chase,1994-03-04,"['Adventure', 'Comedy', 'Action', 'Crime']",English,5.7,299.0,12.323,"Jack Hammond is sentenced to life in prison, b...",26000000.0,"['Capitol Films', 'Hercules Films', '20th Cent...",8.009329e+06,89.0,Getting there is twice the fun.
9989,4415,Les Misérables,1998-05-01,"['Crime', 'Drama', 'History', 'Romance']",English,7.2,526.0,12.308,"Jean Valjean, a Frenchman imprisoned for steal...",0.0,['Columbia Pictures'],1.409632e+07,134.0,The legend comes to life.
9994,329981,Shut In,2016-11-11,"['Drama', 'Thriller']",English,5.3,639.0,12.303,A widowed child psychologist lives in an isola...,10000000.0,"['EuropaCorp', 'Lava Bear Films', 'Transfilm I...",1.308207e+07,91.0,Some fears can't be shut out.

In [38]:
df['title'].duplicated().sum()

np.int64(347)